.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 0.5rem;

  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.tooLong {
  color: red;
}

.set {
  grid-column-start: 3;
  grid-column-end: 7;

  &.importFormHidden {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

.reserve {
  grid-column-start: 7;
  grid-column-end: 11;

  &.importFormHidden {
    grid-column-start: 6;
    grid-column-end: 11;
  }
}
