.root {
  display: flex;
  cursor: move;
  margin-bottom: 0.5em;
  padding: 0.25em;
  justify-content: space-between;
  background: #f0f0f0;

  button {
    width: 2rem;
    padding: 0;
    flex-shrink: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.info {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: 0.5em;
  }
}

.artistTrack {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.tempo {
  margin-right: 0.5em;
  width: 3em;
  background: #ddeaff;
  border: none;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.dragging {
  opacity: 0.25;
}
