.ImportForm {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0 .5rem;
}

.ImportForm form {
  width: 100%;
}

.ImportForm textarea {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  display: block;
}
