.TrackList {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.TrackList.set {
	grid-column-start: 2;
	grid-column-end: 3;
}

.TrackList.reserve {
	grid-column-start: 3;
	grid-column-end: 4;
}

.TrackList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.TrackList .duration.too-long {
	color: red;
}
