.Track {
	display: flex;
	cursor: move;
	margin: .25em 0;
	padding: .25em;
	background: #f0f0f0;
}

.Track.dragging {
	opacity: 0;
}

.Track .bpm {
	margin-left: .5em;
	width: 5em;
}

.Track .bpm:focus {
	outline: none;
}
