.Track {
	display: flex;
	cursor: move;
	margin: .25em 0;
	padding: .25em;
	background: #f0f0f0;
	justify-content: space-between;
}

.Track .track-info {
	display: flex;
}

.Track span {
	width: 25em;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Track.dragging {
	opacity: 0.25;
}

.Track .bpm {
	margin-right: .5em;
	width: 5em;
}

.Track .bpm:focus {
	outline: none;
}
