.root {
  min-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: Helvetica;
}

.button {
  position: absolute;
  right: 2em;

  &.exportButton {
    top: 2em;
  }

  &.toggleImportFormButton {
    top: 4em;
  }

  &.addSetButton {
    top: 6em;
  }
}

.setContainer {
  grid-column-start: 3;
  grid-column-end: 11;

  &.importFormHidden {
    grid-column-start: 1;
  }
}
